<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav id="navbar-asvb" class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <ul class="nav navbar-nav pull-sm-left">
                    <li class="nav-item nav-link-asvb">
                        <a class="nav-link" href="#">Club</a>
                    </li>
                    <li class="nav-item dropdown nav-link-asvb">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Equipes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">U-7</a>
                            <a class="dropdown-item" href="#">U-9</a>
                            <a class="dropdown-item" href="#">U-11</a>
                            <a class="dropdown-item" href="#">U-13</a>
                            <a class="dropdown-item" href="#">U-15</a>
                            <a class="dropdown-item" href="#">U-17</a>
                            <a class="dropdown-item" href="#">U-20</a>
                            <a class="dropdown-item" href="#">Sénior</a>
                        </div>
                    </li>
                    <li class="nav-item nav-link-asvb">
                        <a class="nav-link" href="#">Matchs</a>
                    </li>
                    <li class="nav-item dropdown nav-link-asvb">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actualités
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Articles</a>
                            <a class="dropdown-item" href="#">Evènements</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-logo mx-auto">
                    <li class="nav-item">
                        <a class="navbar-brand mx-auto" href="/"><img id="logo-navbar" src="{{ asset('image/asvb-logo.png') }}" class="d-inline-block align-top" alt="logo-asvb"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-sm-right">
                    <li class="nav-item nav-link-asvb">
                        <a class="nav-link" href="#">Photos</a>
                    </li>
                    <li class="nav-item nav-link-asvb">
                        <a class="nav-link" href="#">Boutique</a>
                    </li>
                    <li class="nav-item dropdown nav-link-asvb">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agenda
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Dates à retenir</a>
                            <a class="dropdown-item" href="#">Convocation Arbitrage</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown nav-link-asvb">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">
                                <ion-icon name="log-in"></ion-icon>
                                Connection</a>
                            <a class="dropdown-item" href="#">
                                <ion-icon name="add-circle-outline"></ion-icon>
                                S'inscrire</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>